%pseudo {
  content: '';
  display: block;
  position: absolute;
}

%btn-base {
  display: inline-block;
  text-transform: uppercase;
  line-height: 1;

  &:hover {
    text-decoration: none;
  }
}

%centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}