extends _layouts/home

block content
	
	.js-page-slider.page-slider
		div
			include _partials/page-1
		div
			include _partials/page-2
		div
			.page-slide 3
		div
			.page-slide 4
		div
			.page-slide 5