.page-slide.d-flex.align-items-center
  .container-fluid
    .row
      .col-md-9.offset-md-2
        .page-slide-1-top
          h1.text-title-lg Your next interactive experience
          a(href="#!").btn-main
            span Hire us
            img(src="img/arrow-right.svg", alt="", width="18", height="14")

        .page-slide-1-bottom
          .row
            .col-md-4
              .text-widget
                h3.text-title-sm Lorem, ipsum.
                p.text-p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem, iure!
            .col-md-4
              .text-widget.is-dimmed
                h3.text-title-sm Lorem, ipsum.
                p.text-p.
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est, saepe!
            .col-md-4
              .text-widget.is-dimmed
                h3.text-title-sm Lorem, ipsum.
                p.text-p.
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est, saepe!