.page-slide.d-flex.align-items-center
  .container-fluid.has-width-limit
    .row
      .col-md-10.offset-md-1
        h2.text-title-md Selected work
        .js-work-slider.work-slider
          div.js-slide-1
            .work-slide
              .work-slide-img
                img(src="img/work-1.jpg", alt="")
              .work-slide-title-sm Victory
              p Lorem ipsum dolor sit amet.
          div.js-slide-2
            .work-slide
              .work-slide-img
                img(src="img/work-2.jpg", alt="")
              .work-slide-title-sm Metiew & Smith
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, necessitatibus!
          div.js-slide-3
            .work-slide
              .work-slide-img
                img(src="img/work-3.jpg", alt="")
              .work-slide-title-sm Alex Nowak
              p Lorem ipsum dolor sit amet consectetur adipisicing.